@import '../../assets/style/variables.scss';

.profile {
  .profile__poster {
    max-width: 100%;
  }
}

.poster {
  max-width: 960px;
}

.section {
  display: flex;

  .section__avatar {
    position: relative;
    top: -100px;
    margin-left: 70px;
  }

  .section__online {
    color: $icon-header;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 22px;
  }

  .section__name {
    color: #ffffff;
    font-family: Roboto;
    font-size: 38px;
    font-weight: 400;
    line-height: 22px;
  }
}