@import '../../../assets/style/variables.scss';

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .nav__link {
    padding-left: 15px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.link {
  color: $icon-bg;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;

  display: flex;
  align-items: center;
  width: 150px;
  height: 30px;
  padding-left: 15px;

  &:hover {
    background-color: $input-search;
  }
}
